<div class="bg-black m-6 text-white">
    <h3 class="text-2xl font-medium p-6 px-10">Datos <span class="text-red-600">Contacto</span> </h3>
    <ul class="px-10 py-2 grid gap-8">
        <li class="flex">
            <span class="icon-[mdi--cellphone] w-11 h-11"></span>
            <span class="px-3">
                <p class="font-medium">Telefono</p>
                <p class="text-neutral-500">947 334 265 - 961 514 017</p>
            </span>
            
        </li>
        <li class="flex items-center">
            <span class="icon-[mdi--google-maps] w-20 sm:w-11 h-11"></span>
            <span class="px-3">
                <p class="font-medium">Oficina</p>
                <p class="text-neutral-500">Ex Avenida Malecón Rímac 380 Cercado de Lima 15101 Perú</p>
            </span>
        </li>
        <li class="flex">
            <span class="icon-[mdi--email-outline] w-11 h-11"></span>
          <span class="px-3">
            <p class="font-medium">Ventas</p>
            <p class="text-neutral-500">crvelasquez&#64;ieasac.com</p>
          </span>
        </li>

    </ul>
   <div class="px-10 pb-5">
    <p class="font-medium py-3">Redes Sociales</p>
    <a href="https://www.facebook.com/ieasac/" target="_blank" class="icon-[mdi--facebook] text-neutral-500 w-11 h-11"></a>
   </div>

</div>
