<div class="bg-stone-300 p-5">
    <h1 class="text-center font-bold p-4 text-4xl">Categorias</h1>
  <div class="grid md:grid-cols-3 md:justify-between align-content-center p-4 gap-8">
    <article class="grid md:col-span-1 justify-center relative">
        <img src="/assets/images/cascos-1.svg" alt="" class="rounded-2xl shadow-black  shadow-2xl">
        <span class="font-semibold text-2xl text-slate-50 absolute left-1/4 sm:left-1/3 top-1/3">Protección Cabeza</span>
    </article>
    <article class="grid md:col-span-1 justify-center relative">
        <img src="/assets/images/botas.png" alt="" class="rounded-2xl shadow-black  shadow-2xl">
        <span class="font-semibold text-2xl text-slate-50 absolute left-1/4 sm:left-1/3 top-1/3">Calzado y Seguridad</span>
    </article>
    <article class="grid md:col-span-1 justify-center relative">
        <img src="/assets/images/chalecos-1.svg" alt="" class="rounded-2xl shadow-black  shadow-2xl">
        <span class="font-semibold text-2xl text-slate-50 absolute left-1/4 sm:left-1/3 top-1/3">Protección Corporal</span>
    </article>
  </div>
</div>