<section class=" bg-blackout grid lg:grid-flow-col gap-3 p-5 text-zinc-300 place-items-center">
    <div class="grid grid-cols-1 p-3 place-items-center">
        <img src="/assets/images/logo_1.svg" alt="">
        <span class="text-sm text-center p-1">Venta de Artículos de Seguridad Industrial,<br/> dedicados a brindar productos</span>
    </div>
    <div class="grid grid-cols-1 place-items-center p-3">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3902.0338604810304!2d-77.0327422!3d-12.0411899!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c8b54ede1ef3%3A0xa41cea73d66a1bd2!2sImport%20Export%20Los%20Angeles%20S.A.C!5e0!3m2!1ses-419!2spe!4v1703814078077!5m2!1ses-419!2spe" width="241" height="126" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="grid grid-cols-1 place-items-center p-3">
        <span class="icon-[mdi--google-maps] w-11 h-11 bg-zinc-300" ></span>
        <h3 class="text-xl font-bold">Ubicanos</h3>
        <span class="text-sm text-center">Ex Avenidad Malecón Rimac 380 <br/> Cercado de Lima 15101 Perú</span>
    </div>
    <div class="grid grid-cols-1 place-items-center p-3">
        <span class="icon-[mdi--clock-outline] w-11 h-11"></span>
        <h3 class="text-xl font-bold">Horario</h3>
        <span class="text-sm text-center">Lun-Vie: 8:00 - 18:30 <br/>
        Sab: 8:00 - 14:00</span>
    </div>
    <div class="grid grid-cols-1 place-items-center p-3">
        <span class="icon-[mdi--support] w-11 h-11 "></span>
        <h3 class="text-xl font-bold">Contactenos</h3>
        <span class="text-sm text-center p-1">947 334 265 <br/> 961 514 017</span>
    </div>
</section>
