
    <div class="bg-stone-300 font-semibold flex flex-row items-center text-xl justify-center">
        <p class="md:p-10 md:w-3/6 p-16">Somos una empresa especializada en artículos de seguridad industrial, dedicados a brindar productos a todo el rubro minero y industrial. Ofrecemos presupuestos muy convenientes y un trato personalizado por un equipo de técnicos y representantes de ventas, que le brindarán respuestas y soluciones inmediatas a sus necesidades.</p>
        @if (nosotrosService.isMobile$ | async) {
            
        }@else {
            <img src="/assets/images/team.png" alt="imagen-team-industrial">
        }
    </div>
   <app-mision/>
   
   <app-valores/>
