<div class="bg-stone-100 p-2 md:p-10">
    <h2 class="text-4xl font-bold text-center p-2 m-5">Testimonios</h2>
   <div class="p-1 md:p-10 m-5 grid md:grid-cols-3 gap-4 md:gap-0 items-center justify-between">
    <article class="rounded-lg md:h-80 md:w-64 md:mx-auto bg-stone-200 p-4 md:p-8 grid grid-cols-2 md:grid-cols-1 justify-center items-center relative">
        <img class="mx-auto block p-2 md:absolute md:-top-10 md:left-20" src="assets/images/cotizacion-icon.svg" alt="">
        <p class="p-2">Lorem, ipsum dolor sit amet consectetur  Duriobcaecati. Ut dolorem hic perspiciatis saepe.</p>
    </article>
    <article class="rounded-lg md:h-80 md:w-64 md:mx-auto bg-stone-200 p-4 md:p-8 grid grid-cols-2 md:grid-cols-1 justify-center items-center relative">
        <img class="mx-auto block p-2 md:absolute md:-top-10 md:left-20" src="assets/images/cotizacion-icon.svg" alt="">
        <p class="p-2">Lorem, ipsum dolor sit amet consectetur  Duriobcaecati. Ut dolorem hic perspiciatis saepe.</p>
    </article>
    <article class="rounded-lg md:h-80 md:w-64 md:mx-auto bg-stone-200 p-4 md:p-8 grid grid-cols-2 md:grid-cols-1 justify-center items-center relative">
        <img class="mx-auto block p-2 md:absolute md:-top-10 md:left-20" src="assets/images/cotizacion-icon.svg" alt="">
        <p class="p-2">Lorem, ipsum dolor sit amet consectetur  Duriobcaecati. Ut dolorem hic perspiciatis saepe.</p>
    </article>
   </div>
</div>
