<div class="grid md:grid-cols-2 text-center p-4 my-10 gap-5">
    <article class="grid gap-5">
        <h3 class="font-semibold text-2xl">Nuestra <span class="text-red-600">Misión</span></h3>
        <p class="2xl:px-52 md:px-4">Brindar equipos de seguridad y salud ocupacional para el personal de empresas mineras, petroleras e industriales, ofreciendo productos de alta calidad.</p>
    </article>
    <article class="grid gap-5">
        <h3 class="font-semibold text-2xl">Nuestra <span class="text-red-600">Visión</span></h3>
        <p class="2xl:px-52 ">Ser reconocido como la mejor empresa comercial en el rubro, por eficiencia y excelencia en servicio y calidad de los artículos de seguridad.</p>
    </article>
</div>