<section class="py-16 md:px-40 grid md:grid-cols-3 text-green-900 font-bold place-items-stretch gap-6 relative">

<div class=" grid grid-cols-1 place-items-center">
    <span class="icon-[mdi--truck-outline] text-9xl"></span>
    <span class="text-lg text-center">Envíos a Nivel Nacional</span>
</div>
<div class=" grid grid-cols-1 place-items-center">
    <span class="icon-[mdi--lock-outline] text-9xl"></span>
    <span class="text-lg text-center">Pago Seguro</span>
</div>
<div class=" grid grid-cols-1 place-items-center">
    <span class="text-7xl">+20</span>
    <span class="text-lg text-center">Años de Experiencia</span>
</div>
<div class="absolute right-2/3 left-5">
    <span class="icon-[mdi--face-mask-outline] w-12 h-12 md:w-16 md:h-16 text-green-700 opacity-50 rotate-12 absolute md:top-20"></span>
    <span class="icon-[mdi--face-mask-outline] w-12 h-12 md:w-16 md:h-16 text-green-700 opacity-50 rotate-12 absolute top-20 -left-3 md:top-48"></span>
    <span class="icon-[mdi--safety-glasses] w-10 h-10 md:w-12 md:h-12 text-green-700 opacity-50 -rotate-12 absolute top-12 md:top-36 left-2 "></span>
    <span class="icon-[mdi--safety-glasses] w-8 h-8 md:w-10 md:h-10 text-green-700 opacity-50 -rotate-12 absolute top-16 left-14 md:top-44 md:left-16"></span>
    <span class="icon-[mdi--hard-hat] w-12 h-12 md:w-16 md:h-16 text-green-700 opacity-50 -rotate-12 absolute top-4 md:top-28 left-14 md:left-16"></span>
    <span class="icon-[mdi--hard-hat] w-12 h-12 md:w-16 md:h-16 text-green-700 opacity-50 rotate-12 absolute top-24 md:top-52 left-12 md:left-16"></span>
</div>
<div class="absolute 
    2xl:left-3/4 
    xl:left-2/3 
    lg:left-1/2 
    md:left-72
    left-2/3 top-2/3 -m-1 md:top-0">
    <span class="icon-[mdi--face-mask-outline] w-12 h-12 md:w-20 md:h-20 text-green-700 opacity-50 -rotate-12 absolute top-40 left-16 md:top-52 md:left-96 "></span>
    <span class="icon-[mdi--safety-glasses] w-12 h-12 md:w-16 md:h-16 text-green-700 opacity-50 -rotate-12 absolute top-28 left-16 md:top-32 md:left-96 "></span>
    <span class="icon-[mdi--hard-hat] w-12 h-12 md:w-16 md:h-16 text-green-700 opacity-50 rotate-45 absolute top-16 md:top-10 left-16 md:left-96 "></span>
    <span class="icon-[mdi--hard-hat] w-12 h-12 md:w-16 md:h-16 text-green-700 opacity-50 rotate-12 absolute top-32 md:top-40 left-5 md:left-80 "></span>
    <span class="icon-[mdi--toolbox] w-12 h-12 md:w-16 md:h-16 text-green-700 opacity-50 rotate-12 absolute top-20 md:top-16 left-5 md:left-80 "></span>

</div>
</section>
