<div class="my-10">
    <h3 class="font-semibold text-2xl text-center my-4">Nuestros <span class="text-red-600 text-2xl">Valores</span></h3>
    <ul class="grid md:grid-cols-5 grid-cols-2 md:gap-0 gap-4 text-center font-semibold p-4  md:px-10">
        <li>
            <span class="icon-[mdi--clock-outline] w-20 h-20"></span>
            <p>Puntualidad</p>
        </li>
        <li>
            <span class="icon-[mdi--thumb-up-outline] w-20 h-20"></span>
            <p>Responsabilidad</p>
        </li>
        <li>
            <span class="icon-[mdi--finance] w-20 h-20"></span>
            <p>Eficiencia</p>
        </li>
        <li>
            <span class="icon-[mdi--shield-lock-outline] w-20 h-20"></span>
            <p>Etica</p>
        </li>
        <li>
            <span class="icon-[mdi--idea] w-20 h-20"></span>
            <p>Eficacia</p>
        </li>
    </ul>
</div>