<form action="GET">
    <ul class=" p-10 py-5 grid gap-4">
        <li class="grid grid-cols-1">
            <label class="font-medium" for="">Nombre y Apellidos</label>
            <input type="text" class="border-2 rounded-lg py-1">
        </li>
        <li class="grid grid-cols-1">
            <label class="font-medium" for="">Razon Social</label>
            <input type="text" class="border-2 rounded-lg py-1">
        </li>
        <li class="grid grid-cols-1">
            <label class="font-medium" for="">DNI/RUC</label>
            <input type="text" class="border-2 rounded-lg py-1">
        </li>
        <li class="grid grid-cols-1">
            <label class="font-medium" for="">Telefono</label>
            <input type="text" class="border-2 rounded-lg py-1">
        </li>
        <li class="grid grid-cols-1">
            <label class="font-medium" for="">Mensaje</label>
            <textarea type="text" class="border-2 rounded-lg py-1"></textarea>
        </li>
        <button class="h-10 px-6 font-medium rounded-md bg-red-500 text-white" type="submit">Enviar</button>

    </ul>
</form>